<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="db" connectionString="Data Source=SAP10;Initial Catalog=SBO_SM_2020ForFM40;Integrated Security=False;uid=sa;pwd=SQL@2020"/>
    
  </connectionStrings>
  <appSettings>
    <add key="LogFile" value=".\Log\ErrorEventLog.log"/>
    <add key="HANACONNECTION" value="N"/>
   
    <add key="SAPDB" value="SBK_PFK_ACC"/>
  </appSettings>
</configuration>